<% provide(:title, 'Contact Me') %>
<div class="container">
  <h1 class = "nonHomeTitle">Contact Me</h1>
  <p>Shoot me an email at <a href="mailto:matt.tse.cs@gmail.com"> matt.tse.cs@gmail.com</a></p>
  <p>Go to my LinkedIn profile at <a href="http://www.linkedin.com/pub/matthew-tse/36/657/155">http://www.linkedin.com/pub/matthew-tse/36/657/155</a></p>
  <p>
  <p>My StackOverflow account can be found at <a href="http://stackoverflow.com/users/1061024/matt-tse">http://stackoverflow.com/users/1061024/matt-tse</a></p>
  <p>Find me on Github at <a href="https://github.com/tS3m">https://github.com/tS3m</a></p>
</div>
