<% provide(:title, 'Home') %>
<div class="container">


<%= image_tag "BlogHeaderImage.jpg" %>
 



  <div class="row-fluid">
    <div class="span2">
      <h3>dates</h3>
    </div>
    <div class="span9">
      <% if @user!=nil and @user.posts.any? %>
      <ul class="unstyled posts">
	<%= render @posts%>
      </ul>
      <% end %>

    </div>

  </div><!--row fluid-->
</div><!--fluid container-->
