<% provide(:title, 'Home') %>
<div class="container">


<%= image_tag "BlogHeaderImage.jpg" %>
 



  <div class="row" id="mainPagePosts">
    <div class="span10 offset1">
      <% if @user!=nil and @user.posts.any? %>
      <ul class="unstyled posts">
	<%= render @posts%>
      </ul>
      <%= will_paginate @posts%>
      <% end %>

    </div>
    <!--div class="span2">
      <h3>dates</h3>
    </div-->

  </div><!--row fluid-->
</div><!--fluid container-->
