<% provide(:title, 'Home') %>
<div class="container">

    <div class = "center hero-unit">
      <% if admin_signed_in? %> 
      <h1 class="AdminMode">Admin Mode</h1>
      <% else %>
      <h1>(Matthew Tse).blog</h1>
      <% end %>

      <h2>A blog of my life as it relates to Computer Science and Duke University</h2>
    </div>

  <div class="row-fluid">
    <div class="span2">
      <h3>dates</h3>
    </div>
    <div class="span8">
      <% if @user!=nil and @user.posts.any? %>
      <!--h3>Posts (<%= @user.posts.count %>)</h3-->
      <ol class="posts">
	<%= render @posts %>
      </ol>
      <% end %>

    </div>

  </div><!--row fluid-->
</div><!--fluid container-->
