<% provide(:title, 'Projects') %>
<div class="container-fluid">
<h1 class="nonHomeTitle">Projects</h1>
<p>This website is one.  I'm constantly updating it, adding new stylings and features to it.  Keep checking back to see what new things I've done.</p>
<p>Keep track of my latest projects on <a href="https://github.com/tS3m">GitHub</a>.</p>
</div>
