<% provide(:title, 'Resume') %>


<div class="container-fluid">

<h1>Resume</h1>

  <div class="row-fluid">
    <div class="span2">
      <h2>nav</h2>
      <ul class="unstyled">
	<li>Education</li>
	<li>Work Experience</li>
	<li>CS Projects</li>
      </ul>
    </div>
    <div class="span10">
      <h2>content</h2>
      <%= render "resumeDetails"  %>
    </div>
  </div>
</div>
