<% provide(:title, 'Resume') %>


<div class="container">

<h1 class="nonHomeTitle">Resume</h1>

  <div class="row-fluid">
    <div class="span2">
      <h2>nav</h2>
      <ul class="unstyled">
	<li><%= link_to "Education", :controller => "static_pages",
:action => "resumeSelect"  %></li>
	<li>Work Experience</li>
	<li>CS Projects</li>
      </ul>
    </div>
    <div class="span10">
      <h2>content</h2>
      <%= render "resumeDetails"  %>
    </div>
  </div>
</div>
