<% provide(:title, 'About Me') %>
<div class="container">
  <%= image_tag "myFace.jpg" %
  <%= markdown(@about_me.content) %>
  <!--h1 class="nonHomeTitle">About Me</h1>
  <p>This is the blog site for Matthew Tse, a Duke University Undergraduate Computer Science student.  The blog site was created one summer in effort to make something "cool" and with which to learn Ruby on Rails and web development.</p>

<p>This blog represents my forays into Computer Science.  At the time of creation, I had only been exposed to CS for about a year, having taken my first intro to python class in <a href="http://www.cs.duke.edu/~ola/">Owen Astrachan's</a> CS6 course at Duke University.  He was a great professor and got me so interested in CS that I dropped my Econ/Finance major to go head on into CS the next semester.</p>

<p>Some hobbies I enjoy outside of CS, Snowboarding, reading, a bit of Dota 2, and meeting new people/hanging out with friends.</p-->

<%= link_to "Edit", edit_page_content_path(@about_me), :class => "btn" %>

</div>
