<li class="comment">
<p>posted by <%=User.find_by_id(comment.user_id).name %> at  <%= comment.created_at.localtime.strftime("%I:%M %p, %A %B %d, %Y") %></p>
  <p><%= simple_format comment.content %></p>

</li>
