<li class="comment", id="commentListElement">

<h5 class="comment_byline">comment by <%=User.find_by_id(comment.user_id).name %> at  <%= comment.created_at.localtime.strftime("%I:%M %p, %A %B %d, %Y") %></h5>


<%= simple_format comment.content, class:"comment_content" %>




</li>
