<dl class="resume">
  <h3>Course Projects</h3>
  <dt>Turn Based Strategy Game Engine</dt>
  <dd>Worked on a team to create a game engine tailored to Turn Based Strategy Games, focused on unit attributes system</dd>
  <dt>Picassa Algorithmic Art Generator</dt>
  <dd>Programmed an art generator that created beautiful art based on mathematical formulas</dd>
  <h3>Independent Projects</h3>
  <dt>Personal Web Blog</dt>
  <dd>This website, built using Ruby on Rails 3.2.6, Ruby 1.9.3, HTML5, CSS, and Twitter's Bootstrap API, hosted by Heroku</dd>
  <dt>Tower of Hanoi Game/Solver Java Applet</dt>
  <dd>Playable Tower of Hanoi game with animations, counts number of moves used, and can solve the game with minimum number of moves.</dd>
