
<% if @selector==:education %>
<h1>Education</h1>
<p>Duke University</p>
<% elsif @selector==:work %>
<h1>Work Experience</h1>
<p>Guidewire Software</p>
<% elsif @selector==:projects %>
<h1>Projects</h1>
<p>This Website</p>
<% end %>
