<% provide(:title, 'Education') %>

<div class="container">

<h1 class="nonHomeTitle">Resume</h1>

  <div class="row-fluid">
    <div class="span10">

      <div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
	  <li class="active">
	    <a href="#tab1" data-toggle="tab">Education</a>
	  </li>
	  <li>
	    <a href="#tab2" data-toggle="tab">Work Experience</a>
	  </li>
	  <li>
	    <a href="#tab3" data-toggle="tab">Projects</a>
	  </li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="tab1">
	    <%= render 'education'%>
	  </div>
	  <div class="tab-pane" id="tab2">
	    <%= render 'work'%>
	  </div>
	  <div class="tab-pane" id="tab3">
	    <%= render 'projects' %>
	  </div>
	</div>
      </div>


    </div>
  </div>
</div>
