<dl class="resume">
  <h4>Undergraduate Education</h4>
  <dt>Duke University, Durham NC</dt>
  <dd>Bachelor of Science, Computer Science Major, Mathematics Minor</dd>
  <dd>Coursework:</dd>
  <dd>
    <ul>
      <li>CS100 Data Structures & Algorithms - Astrachan</li>
      <li>CS104 Computer Organization & Programming - Hilton</li>
      <li>CS102 Discreet Math for CS - Rodgers</li>
      <li>CS108 Software Design & Implementation - Hewner</li>
      <li>CS110 Intro to Operating Systems - Chase</li>
      <li>CS130 Design & Analysis of Algorithms</li>
    </ul>
  </dd>
  <h4>High School Education</h4> 
    <dt>Livingston High School, Livingston NJ</dt>	
  <dd>Graduated June 2010, Salutatorian of a class of 400</dd>
</dl>
