<dl class="resume">
  <h4>Course Projects</h4>
  <dt>Turn Based Strategy Game Engine</dt>
  <dd><ul>
      <li>Worked with a team of 5 to create a game engine tailored to Turn-Based Strategy Games</li>
      <li>Modified the Golden Tee Game Engine for all aspects of Turn-Based-Strategy Gaming</li>
      <li>Personal focus: Making an extensive unit attribute system</li>
      <li>Technologies used: Java, JSON, Reflection, Object Oriented Programming</li>
  </ul></dd>
  <dt>Picassa Algorithmic Art Generator</dt>
  <dd><ul>
      <li>Programmed an art generator that created beautiful art based on mathematical formulas</li>
  </ul></dd>
  <h4>Independent Projects</h4>
  <dt>Personal Web Blog</dt>
  <dd>This website, built using Ruby on Rails 3.2.6, Ruby 1.9.3, HTML5, CSS, and Twitter's Bootstrap API, hosted by Heroku</dd>
  <dt>Tower of Hanoi Game/Solver Java Applet</dt>
  <dd>Playable Tower of Hanoi game with animations, counts number of moves used, and can solve the game with minimum number of moves.</dd>
