<dl class="resume">
  <h3>Work Experience</h3>
  <dt>Guidewire Software, Foster City CA, Summer 2012</dt>
  <dd>Software Engineering Intern Project: Showcase</dd>
  <dd><ul>
  <li>Push the boundaries of the Guidewire platform by building an E-commerce application showing off advanced features and best practices.</li>
  <li>Fully executed project in all stages of development: planning, modeling, coding, refining, debugging, testing</li>
  <li>Technologies and concepts used: Gosu programming language, Java, Guidewire's proprietary Pebbles api, Selenium testing, smoke tests, database modeling</li>
</ul></dd>
  <dt>Duke University, Durham NC, 2011-2012</dt>
  <dd>CS100 Undergraduate Teaching Assistant</dd>
  <dd><ul>
    <li>Held weekly office hours to assist students on homework, assignments, and tests</li>
    <li>Graded assignments, mid-terms, and finals.</li>
  </ul></dd>
  <dt>Elegran Real Estate, Manhattan NY, Summer 2011</dt>
  <dd>Real Estate Salesperson</dd>
  <dd><ul>
      <li>Closed two rental contrals totalling $50,000</li>
  </ul></dd>
</dl>
