/* comments */

.comment{
padding-left:1em;


}

.comment_byline{

}

#comment_form{
padding-left:3em;
}

.comment_content{
padding-left:1em;

}

#commentListElement{
margin:0px;
padding-bottom:0px;
}