/* posts */

.posts {
li{
list-style-type: none;
padding-bottom:2em;
}
}


.post_content{
padding-left:10px;
padding-right:10px;
}

#mainPagePosts{
padding-top:25px;

}
.postTitle{
background-color:#E9E9F4;
margin-bottom:4px;
border-radius: 4em 4em 4em 4em;
}

.postNameTimeStamp{
margin-bottom:5px;
}


.post_photo{
padding-bottom:1em;
}


#post_button_group{
padding-left: 1em;
}