<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

<small id="footerText">A blog made for and built by Matthew Tse, using Ruby On Rails 3.2.6</small>

  </nav>
</footer>
