<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

<small>Matthew Tse's Blog, built using Ruby On Rails 3.2.6</small>

  </nav>
</footer>
