<% if !signed_in? %>
<li><%= link_to "Subscribe", signup_path %> </li>
<li><%= link_to "Sign In", signin_path %> </li>
<% end %>

<% if admin_signed_in? %>
<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="adminDropdown"> Admin <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "New Post", new_post_path %></li>
    <li class="divider"></li>
              
  </ul>
</li>
<% end %>

<% if signed_in? %>
<li><%= link_to "Sign Out", signout_path, method: "delete"  %> </li>
<% end %>
